
@{
    ViewBag.Title = "Login";
}



<form method="post" class=" col-md-4" style="border: 1px solid #702e16; margin-top:10%; margin-left:30%; margin-bottom:20%; padding-bottom:20px;">
    <h2 style="text-align:center; color: #702e16"><strong>Đăng nhập</strong></h2>
    <hr />
    <label><h4 style="color: #702e16">Tên đăng nhập</h4></label>
    <input name="username" class=" form-control" />
    <label><h4 style="color: #702e16">Mật khẩu</h4></label>
    <input name="password" class="form-control" />
    <input type="submit" value="Đăng nhập" class="col-md-5 form-control btn btn-primary" style="margin-top: 10px;" />


</form>